.textContainer {
  margin-bottom: 20px;
}

.navDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.title {
  font-size: 50px;
  margin-bottom: 10px;
}

.posterContainer {
  display: flex;
  align-items: center;
}

.releasContainer {
  padding-left: 10px;
}

.releas {
  text-align: start;
  padding-bottom: 10px;
}

.overview {
  text-align: justify;
  padding-bottom: 10px;
}

.genres {
  text-align: start;
}

.link {
  display: inline-flex;
  justify-content: center;
  width: 60px;
  text-decoration: none;
  border: 1px solid rgb(184, 184, 255);
  border-radius: 8px;
  padding: 5px 10px;
  background-color: rgb(184, 184, 255);
  color: blue;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-bottom: 20px;
}

.link:hover {
  color: white;
  background-color: blue;
}
