.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movieItem {
  width: 350px;
  border-radius: 20px;
}

.movieImg {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.movieText {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
  background-color: rgb(151, 252, 230);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.movieTitle {
  font-size: 18px;
}
