.castList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.castItem {
  width: 150px;
}

.castText {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px 10px;
  font-size: 10px;
}
